@font-face {
    font-family: narrow;
    src: url('../font/Obviously-Narrow-Medium.ttf');
}
@font-face {
    font-family: regular;
    src: url('../font/Obviously-Regular.ttf');
}
@font-face {
    font-family: semibold;
    src: url('../font/Obviously-Semibold.ttf');
}
@font-face {
    font-family: widebold;
    src: url('../font/Obviously-Wide-Bold.ttf');
}
*{
    word-wrap: break-word;
    font-family: 'regular';
    color: #000000;
}
.container{
    /* border: 1px solid black; */
}
body{
    background-color: #EFEFEF;
}
section{
    padding: 70px 0px;
}
ul{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}

.heading{
    font-style: italic;
    font-weight: 360;
    font-family: 'narrow';
    font-size: 28px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: -1.6px;
    margin-bottom: 20px;
}
header{
    background-color: #E50062;
    min-height: 50px;
}
header ul li a.nav-link{
    color: white !important;
    padding: 10px 20px;
    margin: 5px;
}
.navbar-brand img{
    max-width: 100%;
}
/* hero section  */
.hero{
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero p{
    font-weight: 650;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}
.hero h1,.hero sub.pr{
    font-weight: 670;
    font-size: 71.4515px;
    font-family: 'widebold';
    line-height: 100%;
    color: #E50062;
}
.hero .mega{
    font-size: 46.4515px;
    position: relative;
    margin-top: -7px;
}
.hero p.rs{
    margin: -7px 0px;
}
.hero sub.pr{
    margin: 0px 10px 0px -10px;
    font-size: 35px;
}
.hero button{
    margin-top: 20px;
    font-weight: 670;
    font-size: 13.2653px;
    line-height: 22px;
    background: #E50062;
    border-radius: 17.9883px;  
    min-width: 60%;  

}

/* contact section  */
.contact h2.heading{
    color: #E50062;
}
.contact input,.contact button{
    margin: 10px auto;
}
.contact input{
    border-radius: 5px;
}
.contact ::placeholder{
    font-weight: 530;
    font-size: 13.3561px;
    line-height: 20px;
    color: #949494;
}
.contact button{
    font-style: normal;
    font-weight: 670;
    font-size: 16px;
    line-height: 26px;
    background-color: #E50062;
}
.contact a{   
    text-decoration-line: underline;
}
.contact a,.contact label{
    font-style: normal;
    font-weight: 540;
    font-size: 11px;
    line-height: 17px;
    color: #000000;
    font-style: normal;
}
/* pricing section  */
.pricing{
    background-color: #000000;
}
.pricing .badge img{
    position: relative;
    top: -4px;
    left: -5px;
}
.pricing .card{
    border: 2px solid #E50062;
    border-radius: 19.0801px;
    margin: 30px auto;
    max-width: 450px;
}
.pricing .card2{
    border: 0px solid #E50062;
}
.pricing .card-body{
    /* padding: 20px; */
}
.pricing h2,.pricing h1,.pricing sub,.pricing span{
    font-weight: 670;
    line-height: 100%;
    color: #E50062;
    font-family: 'widebold';\
}

.pricing h2{
    font-size: 88.0031px;
}
.pricing .card-2 h2{
    font-size: 78.0031px;
    margin: 35px 0px;
}
.pricing h1{
    font-size: 56.7804px;
}
.pricing span{
    /* font-family: 'semibold'; */
    font-size: 58.0031px;
}
.pricing p{
    font-weight: 640;
    font-size: 17.1721px;
    line-height: 20px;
}
.pricing sup{
    position: relative;
    top: -30px;
    left: 10px;
    font-weight: 670;
    font-size: 11.4481px;
}
.pricing .card{
    min-height: 650px;
}
.pricing p.por{
    position: relative;
    font-weight: 670;
    text-align: right;
    font-size: 11.4481px;
    color: #E50062;
}
.pricing card1 p.por{
    right: 50px;
}

.pricing ul{
    margin: 20px -20px ;
    padding-left: 20px;
    background-color: #EFEFEF;
}
.pricing ul li{
    padding: 3px 0px;
    font-weight: bold;
}
.pricing ul li img{
    margin: 0px 3px;
}
.pricing button{
    background-color: #E50062;
    font-weight: 670;
    margin: 10% 0px 5% 0px;
    padding: 20px 0px;
    font-size: 20px;
    line-height: 33px;
}
/* quality section  */
.quality h6{
    font-size: 15.2641px;
    line-height: 23px;
}
a.heading{
    padding: 5px 20px;
    font-weight: 560;
    border: 1px solid #D9D9D9;
    font-size: 13px;
    line-height: 31px;
    text-align: center;
}
a.heading:hover{
    background-color: #E50062;
}

.quality .row-2{
    margin-top: 50px;
}
.quality .row-2 .card-body{
   padding: 0px;
   margin: 10px auto;
    min-height: 260px;
    background-color: #fff;
    box-shadow: black;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 1px #b6b3b3;

}
.quality .row-2 .card-body p{
    padding: 0px 10px;
    font-weight: 700;
    font-size: 13.3453px;
    line-height: 21px;
    color: #000000;
}
.quality img{
padding: 20px 0px;
max-width: 100%;
}

.quality .row-2 p{
    padding: 10px 0px;
}
.row-3 p{
    font-weight: 530;
    font-size: 15.2641px;
    line-height: 23px;
    text-align: center;

}

/* services section  */
.services img{
    padding: 10px 5px;
    max-width: 100%;
}

/* faq section  */
.faq h2.heading{
    font-style: italic;
    color: #E50062;
}
.faq .card{
    border-left: 2px solid #E50062;
    margin: 6px auto;
}
.faq .card-header{
   background-color: #fff;
}
.faq button.btn{
    font-weight: 540;
    font-size: 13.3561px;
    line-height: 21px;
    color: #000000;
}

.faq div.card-body{
    font-weight: 530;
    font-size: 11.4481px;
    line-height: 18px;
    color: #000000;
}

/* footer-section  */
footer{
    background-color: #E50062;
    padding: 30px 0px;
}
footer img.logo{
    margin: 20px auto;
    max-width: 100%;
}
footer ul{
    padding: 0px;
    padding-top: 20px;
}
footer a img{
    margin: 8px;
}
footer p{
    color: white;
    margin: 0px;
    
}
footer p.phone{
    font-weight: 560;
    font-size: 12px;
    line-height: 20px;
    font-family: 'widebold';
}
footer p.mail{ 
    position: relative;
    font-weight: 540;
    font-size: 12px;
    line-height: 19px;
}
footer ul {
    margin-top: -15px;
}
footer ul li{
    margin: 0px -3px;
}
footer p.copyright{
    font-weight: 540;
    font-size: 12px;
    line-height: 19px;
}
/* Small devices (landscape phones, 576px and up)  */
@media (max-width: 576px){
    /* hero-sction  */
    .hero button{
        min-width: 80%;
    }
    .heading{
        font-size: 30px;
        line-height: 45px;
    }
     /* quality section  */
     a.heading{
        font-size: 19.0801px;
    }
    /* pricing section  */

    .pricing h2{
    font-size: 65.0031px;
    }
    .pricing h1{
        font-size: 47.7804px;
    }
    .pricing span{
        font-size: 43.0031px;
    }
    .pricing p{
        font-size: 13.1721px;
    }
    .pricing sup{
        font-size: 8.4481px;
    }
    .pricing p.por{
        font-size: 8.4481px;
    }
    .pricing button{
        font-size: 15px;
    }

}    

/* Medium devices (tablets, 768px and up)  */
@media (max-width: 768px){
    /* hero-sction  */
    .hero{
       background-image: url('../images/banner-mb.png');
   }
   .heading{
       font-size: 32px;
       line-height: 45px;
   }
    /* pricing section  */

    .pricing h2{
    font-size: 76.0031px;
    }
    .pricing h1{
        font-size: 54.7804px;
    }
    .pricing span{
        font-size: 47.0031px;
    }
    .pricing p{
        font-size: 15.1721px;
    }
    .pricing sup{
        font-size: 10.4481px;
    }
    .pricing p.por{
        font-size: 10.4481px;
    }
    .pricing button{
        font-size: 17px;
    }
   /* services section  */
   .services img{
       padding: 10px 10px;
   }
}

/* Large devices (desktops, 992px and up)  */
@media (max-width: 992px){
     /* header  */

     header ul li a.nav-link{
        color: white !important;
        padding: 4px 0px;
        margin: 0px;
    }
    .heading{
        font-size: 34px;
        line-height: 45px;
    }
    /* services section  */
    .services img{
        padding: 10px 15px;
    }

}

/* X-Large devices (large desktops, 1200px and up)  */
@media (max-width: 1200px){

    /* hero-sction  */
    .hero{
        background-image: url('../images/banner.png');
    }
    .hero button{
        min-width: 50%;
    }
    .heading{
        font-size: 36px;
        line-height: 45px;
    }
    /* pricing section  */

    .pricing h2{
        font-size: 82.0031px;
    }
    .pricing h1{
        font-size: 55.7804px;
    }
    .pricing span{
        font-size: 52.0031px;
    }
    .pricing p{
        font-size: 16.1721px;
    }
    .pricing sup{
        font-size: 11.4481px;
    }
    .pricing p.por{
        font-size: 11.4481px;
    }
    .pricing button{
        font-size: 18px;
    }
    /* services section  */
    .services img{
        padding: 10px 20px;
    }

}
/* X-Large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
    .heading{ 
        font-size: 38px;
        line-height: 55px;
    }
    /* hero-sction  */
    .hero{
        background-image: url('../images/banner.png');
    }
    /* quality section  */
    a.heading{
        font-size: 19.0801px;
    }
}






